* {
    box-sizing: border-box;
    // border: 1px solid red;
}
// Header Starts HERE
.header-brand {
    display: grid;
    background-color: rgb(158,241,211);
    height: 80px;
    grid-template-columns: 30% 1fr;
    align-items: center;
    text-align: center;

        img {
            display: grid;
            width: 180px;
            max-height: 80px;
            align-items: flex-start;
            margin-left: 2em;
            
        }


    }
    .hero {
        background-color: rgb(196,196,196);
        min-height: 250px;
        height: 41vw;
    img {
        max-height: 35vw ;
    }
    }

    .bg-nav {
        background-color: rgb(196,196,196);
        box-shadow: 5px 5px 5px rgb(119, 114, 114);
    }

.header-name {
    margin-left: 3em;
}
// Header ENDS here


//Main Start

.main {
    margin: 2em;
}
.dishes {
    display: grid;
    text-align: center;
    align-items: center;
    padding: 2em;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    .box {
        display: flex;
        background-color: #ffffff;
        box-shadow: 5px 5px 5px rgb(47, 54, 52);
        border: 1px solid black;
        flex: 0 0 120px;
    }
    .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
       
        

        .text {
            display: grid;

            padding: .5em;
            justify-content: space-evenly;

          
            p {
                
                display: grid;
                font-size: 10px;
                margin-bottom: 2em;
                align-items: flex-start;
                

                strong {
                    display: grid;
                    align-items: flex-start;
                    vertical-align:text-bottom;
                   
                   
                }
            }
        }

        h5 {
            font-size: 13px;
            font-weight: bold;
            
        }

        .img img{
            display: grid;
            align-items: center;
            width: 90%;
           margin-right: 1em;
            border-radius: 50%;
            
            
        }
      
        
       
    }

    .img {
        display: grid;
        align-items: center;
        background-color: #F5F6F8;
        height: 100%;
        
    }

}

// Main END

//Customer Reviews Site Main
.checked {
    color: orange;
  }


//Customer Reviews Site Main END

// FOOTER START 

.footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    height: 150px;
    background-color: rgb(158,241,211);
    img {
        width: 20%;
        max-height: 80px;
    }
}

//FOOTER END
/* Media query for mobil size */
@media screen and (max-width: 480px) {
    
    .header {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    .header-brand {
       margin: 0 auto;
       img {
           margin-left: 100%;
       }
       
    }
    
    .header-name {
        display: none;
    }
    
    .content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;

}
}



/* Media query for tablet size */
 @media (min-width: 481px) and (max-width: 1023px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;

}
 }